/* if the screen is larger than 640px, as 1rem = 16px  */

@media (min-width: 40rem) 
{
  article
  {
    margin: auto;
    max-width: 40rem;
    left: 0;
    right: 0;
  }
  
  article.profile
  {
    max-width: 80rem;
    width: 100%;
    margin-left: auto; 
  }
  
  article #pageProfile
  {
    flex: 0;
    padding: 0;
  }
  
  article.profile #pageSearch
  {
    /* make the search section a wee darker */
    background: rgba(0,0,0,0.05);
  }
  
  article.profile #pageProfile
  {
    flex: 1;
    padding: 1rem;
  }
}