<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>Edamam</title>
	<meta name="Author" content=""/>

    <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <script src="//localhost:55567/livereload.js?snipver=1"></script>
    <script src="jquery.min.js"></script>
    <script src="underscore.min.js"></script>

</head>
<body>
    <h1>What's in your fridge?</h1>
    <form action="">
        <input placeholder="e.g. banana" name="q" autofocus>
    </form>

    <p id="message">hello</p>
    
    <ul>
        
    </ul>
    
    
    
    <script>
    
        var $form = $('form'),
            $ul = $('ul'),
            $message = $('#message')
        
        $form.on('submit', function(event)
        {
            event.preventDefault()

            $message.html('Just a sec...').fadeIn()
            
            var recipeTemplate = _.template($('#recipe-item').html())
            
            var inputValue = $('input[name=q]').val()
            
            var url = 'https://api.edamam.com/search'
            
            var data = 
            {
                _app_id: '602e4c99',
                _app_key: 'badc73a4282fd038b7547e9c5854a2d6',
                q: inputValue
            }
            
            $.ajax(
            {   
                url: url,
                dataType: 'jsonp',
                data: data,
               
                success: function(result)
                {
                    console.log(result)

                    $message.fadeOut()
                   
                    result.hits.forEach(function(hit)
                    {
                        var recipe = hit.recipe
                        console.log(recipe)
                        var li = recipeTemplate(recipe)
                        $ul.append(li)
                    })
                   
                }
            })
        })
    
    
    </script>
    
    <script id="recipe-item" type="text/template">
        <li>
            <img src="<%= image %>">
            <h3><%= label %></%></h3>

            <p>Cooking Time: <%= cookingTime %> mins</p>
            <p>level: <%= level %></p>
            <p>rating: <%= rating %></p>
           

            <a href="<%= url %>">Click here to see more</a>
        </li>
    </script>

</body>
</html>
